:root {
  --primary-bg-color: #ffffff;

  --main-text-color: #434455;

  --dark-accent: #2e2f42;

  --light-accent: #f4f4fd;

  --accent-color: #4d5ae5;

  --hover-focus-color: #404bbf;

  --button-border: #e7e9fc;
}

/* ==========BODY========== */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
}
/* CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  /* outline: 1px solid tomato; */
}
.nav-container {
  border-bottom: 1px solid var(--button-border);
}
/* Specification */

.list {
  list-style-type: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

/* ----------HEADER---------- */

.header {
  border-bottom: 1px solid var(--button-border);
}
.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*  LOGO  */

.web-logo {
  margin-right: 72px;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio-logo {
  color: var(--dark-accent);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* NAVIGATION */

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark-accent);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* outline: 1px solid orangered; */
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-focus-color);
}

.nav-list {
  display: flex;
}
.nav-list .item + .item {
  margin-left: 40px;
}

/* ADDRESS */

address {
  font-style: normal;
}
.contact {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
  color: var(--hover-focus-color);
}

.contact-list {
  display: flex;
}
.contact-list .item + .item {
  margin-left: 40px;
}

/* ----------MAIN PAGE---------- */

/* SECTION 1 - HERO */

.hero {
  background-color: var(--dark-accent);
  text-align: center;
}
.hero-title {
  margin-bottom: 48px;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* BUTTON HERO */

.button-hero {
  display: inline-block;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--hover-focus-color);
  cursor: pointer;
}

/* SECTION 2 - FEATURES */
.features {
  margin-top: 120px;
  margin-bottom: 120px;
}
.title-features {
  margin-bottom: 8px;
  color: var(--dark-accent);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION 3 */

.galery {
  margin-bottom: 120px;
}
.title {
  margin-bottom: 72px;
  color: var(--dark-accent);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* SECTION 4 */

.cards {
  background-color: var(--light-accent);
  padding-top: 120px;
  padding-bottom: 120px;
}
.card {
  background-color: var(--primary-bg-color);
}

/* ==========FOOTER========== */

.footer-element {
  background-color: var(--dark-accent);
  color: var(--light-accent);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  color: var(--light-accent);
  text-transform: uppercase;
}
.text-footer {
  margin-top: 16px;
}

/* ==========PORTFOLIO========== */

.button-portfolio {
  display: inline-block;
  color: var(--accent-color);
  background-color: var(--light-accent);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  padding: 12px 24px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-bg-color);
  background-color: var(--hover-focus-color);
  cursor: pointer;
}
